// include the header 
include ./includes/header.jade
    // Main page container
  .container
      .row
        .col-md-9
          .main_content.detail-product
            h3.title BROWSE ALL BUSINESSES
            if directories.message!= 'No records'
             each directory, i in directories
              .listing-item
               .row
                 .col-md-7
                   .featured-item
                     .row
                       .col-md-4
                         a(href='')
                           img(width='156', height='89', src='#{directory.businessLogoUrl}').img.pull-left
                       .col-md-8
                        h5 #{directory.businessName}
                        p #{directory.businessDescription}
                 .col-md-5
                  .other_info
                    address
                      i
                       | #{directory.businessAddress}
                    p
                      strong Contact Name: 
                      | #{directory.businessOwner}
                      br
                      strong Phone: 
                      | #{directory.businessPhoneNo}
                      br
                      strong E-mail: 
                      | #{directory.businessEmail}
                      br
                      strong URL:
                      a(href='http://#{directory.businessWebsite}', target='_blank') #{directory.businessWebsite}
                    .btn-group
                      button.btn.btn-sm.btn-primary
                        span.glyphicon.glyphicon-edit
                        a.btn-link(href='/edit-directory/#{directory._id}') Edit
    // include the footer
    include ./includes/footer.jade